.ibm-plex-serif-medium {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
}
.body{
    background-color:#F1ECE6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #8A7868;
}
.header{
    background-color: white;
}
.header__inner{
    padding: 32px 96px;
    display:flex;
    justify-content: center;
    position: relative;
}
.header__ttl{
    font-size: 36px;
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
}
.login-form{
    position: absolute;
    right: 96px;
}
.login-form__button{
    padding: 0 18px;
    border: solid 1px#E5D8CA;
    color: #E5D8CA;
}
.content{
    text-align: center;
}
.content__ttl{
    font-size: 32px;
    margin:64px 0;
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
    color: #8A7868;
}
.form-area{
    background-color: white;
    width:50%;
    margin:0 auto 48px;
    border: solid 1px #D6CDC7;
    border-radius:1%;
}
.form__inner{
    padding: 48px 20%;
}
.register-form{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
label{
    padding: 6px;
    font-size: 18px;
}
input{
    display: block;
    width:100%;
    background-color: #F4F4F4;
    padding:12px;
    
}
input::placeholder{
    color:#8A7868;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #8A7868;
    font-family: sans-serif;
}
.error-messages{
    width:100%;
    color: red;
    margin-bottom: 48px;
}
.register-form__button{
    margin:0 auto;
}
.button{
    background-color: #8A7868;
    color: #ffff;
    padding:6px 36px;
    border-radius: 5%;
}

